<%- include("../partial/admin/header.ejs") %> 


        <div class="col-lg-8 offset-lg-3 mt-5">
           <div class="card mb-4">
         <form  id="updateProfileForm" action="/admin/edit-adminProfile" method="post" name="submission"  onsubmit=" return updateProfile(event)"  oninput="clearform()">
            <div class="card-body mt-3">
              <div >
                <p>PROFILE DETAILS</p>
              </div>
  
              <div class="row ">
                <div class="col-md-6 form-group mb-3">
                   <label>User Name</label>                
                  <input class="form-control" type="text" name="Username" value="<%= admin.Username %>" placeholder="First Name">
                </div>
  
                <div class="col-md-6 form-group  mb-3">
                    <label>E-mail</label>   
                  <input class="form-control" id="email" type="text" name="Email" value="<%= admin.Email %>" placeholder="E-mail" required>
                 </div>
  
                <div class="col-md-6 form-group">
                    <label>Mobile No</label>   
                  <input class="form-control"  id="Mobilenumber" type="text" name="Mobile" placeholder="Mobile No" value="<%= admin.Mobile || 'No Mobile number Provided' %>" >
                </div>
               
                <div class="col-md-12 form-group  mb-3 relative" >
                    <label>Password</label>   
                  <input class="form-control" type="text" name="Password"readonly="readonly" placeholder="******">
                  <span class="change-password--link Paragraph-14-S--Semibold"><a href="/admin/editpassword">Change Password</a></span>
                </div>
  
                <div class="col-md-6 form-group  mb-3">
                 <button type="submit" class="btn btn-primary" >UPDATE PROFILE</button>
                </div>
  
              </div>
  
            </div>
            </div> 
          </form>
       
        </div> 


  <%- include("../partial/admin/footer.ejs") %> 
  <script>
    document.getElementById('logout-form').addEventListener('submit',(event)=>{
    if(!confirm('Are you sure, You  really want to  log out? ')){
        event.preventDefault()
    }
    })

    function updateProfile(event){
      event.preventDefault();

      const email = document.getElementById("email").value.trim();
      const Mobilenumber = document.getElementById("Mobilenumber").value.trim();
      if(!emailValidate(email)){
        Swal.fire('Invalid Email', 'Please enter a valid email address.', 'error');
        return false;
      }

      if(Mobilenumber.length !== 10){
        Swal.fire('Invalid Mobile Number', 'Please enter a valid 10 digit mobile number.', 'error');
        return false;
      }


      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!'
      }).then((result)=>{
        if(result.isConfirmed)
        document.getElementById('updateProfileForm').submit();
      })
      return false
    }

    function emailValidate(email){
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
    }