<%- include('../partial/admin/header.ejs') %>

<!-- Content Start -->
      <div class="content p-5 ">
    
          <% if (order) { %>
          <h2 class="text-center mb-4"> Order Detials</h2>
          <% } %>

        <!-- <% if (typeof message !== 'undefined' && message) { %>
            <div id="cart-message" class="alert alert-success w-100 text-center">
                <%= message %>
            </div>
        <% } %> -->


        <!-- Order 1 -->
        <div class="card order-card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-center">Products Deatils</h4>
                        <% order.products.forEach((product,index) => { %>
                            <h6 class="fw-bold"><%= index+1 %>. <%= product.name %></h6> <!-- Fix to correctly access productName -->
                            <p style="padding: 0;">Quantity: <strong><%= product.quantity %></strong></p>
                            <h6> Price: <%= product.price %></h6> 
                        <% }) %>
                        <h4 class="text-center">Order Details</h4>
                        <p>Order Reference ID: <strong><%= order.orderId %></strong></p>
                        <p>Orderd Username: <strong><%= order.orderedUser.Username %></strong></p>

                        <p>Order Date: <strong><%= new Date(order.date).toLocaleDateString() %></strong></p> <!-- Display Date -->
                        <p>Payment Method: <strong><%= order.paymentDetails.paymentMethod %></strong></span></p>

                        <% if(order.paymentDetails.status=='Pending'){ %>
                            <p>Payment Status: <span class="badge badge-pill badge-warning"><%= order.paymentDetails.status %></span></p>
                        <% }else if(order.paymentDetails.status=='Failed'){ %>
                            <p>Payment Status: <span class="badge badge-pill badge-danger"><%= order.paymentDetails.status %></span></p>
                        <% }else{ %>
                            <p>Payment Status: <span class="badge badge-pill badge-success"><%= order.paymentDetails.status %></span></p>
                        <% } %>

                        <% if(order.orderStatus=='Cancelled'){ %>
                            <p>Order Status: <span class="badge badge-pill badge-danger"><%= order.orderStatus %></span></p>
                        <% }else if(order.orderStatus=='Delivered'){ %>
                             <p>Order Status: <span class="badge badge-pill badge-success"><%= order.orderStatus %></span></p>
                        <% } else{ %>
                             <p>Order Status: <span class="badge badge-pill badge-info"><%= order.orderStatus %></span></p>
                        <% } %>


                        <p>Total Price: <strong>₹<%= order.grandTotal %></strong></p>
                        <% if (order.couponCode) { %>
                            <p>Coupon: <strong><%= order.couponCode %></strong></p>
                            <p>Coupon Discount: <strong>₹<%= order.couponDiscount %></strong></p>
                        <% } %>

                        <p>Shipping Address: <strong><%= order.shippingAddress.name %>, <%= order.shippingAddress.houseName %>, <%= order.shippingAddress.street %>, <%= order.shippingAddress.city %>, <%= order.shippingAddress.state %>, <%= order.shippingAddress.pincode %></strong></p>
                    </div>
                    <div class="col-md-3 text-center">
                        
                        <!-- <button class="btn btn-secondary mb-2" onclick="location.href='/orderView/<%= order._id %>'">Track Order</button>
                        <% if (order.orderStatus  !== "Cancelled" && order.orderStatus !== "Delivered" && order.orderStatus !== "Returned" && order.orderStatus !== "Return Request" && order.orderStatus !== "Refunded") { %>
                            
                            <button type="button" class="btn custom-remove-btn" onclick="confirmRemove('<%= order._id %>')">
                                <i class="bi bi-trash-fill"></i> Cancel Order
                            </button>
                        
                        <% } %> -->
                        <!-- <% if (order.orderStatus === "Delivered") { %>
                            <button class="btn btn-danger mb-2" onclick="confirmReturnRequest('<%= order._id %>')">Return Order</button>
                        <% } %> -->
                        
                    </div>
                </div>
            </div>
        </div>

          <% if(!order){ %>
               <div class="alert alert-info">No Order found. <a href="/shop" class="btn btn-primary btn-sm">Shop Now</a></div>
          <% } %>
   
    
     </div>

    </div>
    <!-- footer -->
    <footer class=" footer_section">
       <div class="container">
         <p>
           &copy; <span id="displayYear"></span> All Rights Reserved By
           <a href="#">GIFTOS</a>
         </p>
       </div>
     </footer>


     <script src="//js/admin/orders.js"></script>
     <script src="/js/jquery-3.4.1.min.js"></script>
     <script src="/js/bootstrap.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="/js/custom.js"></script>
     <script src="js/admin/confirmLogout.js" defer></script>

</body>
</html>