<!DOCTYPE html>
<html>
 
 <head>
   <!-- Basic -->
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <!-- Site Metas -->
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <meta name="author" content="" />
   <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
 
   <title>
     Giftos
   </title>

      <!-- Icon Font Stylesheet -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
 
   <!-- slider stylesheet -->
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
 
   <!-- bootstrap core css -->
   <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
 
   <!-- Custom styles for this template -->
   <link href="css/style.css" rel="stylesheet" />
   <link href="css/adminstyle.css" rel="stylesheet" />
   <!-- responsive style -->
   <link href="css/responsive.css" rel="stylesheet" />

   <style>

    .pagination-container {
    display: flex;           
    justify-content: center; 
    align-items: center;     
    margin: 20px auto;       
}
    .pagination-container a {
    text-align: center;
    padding: 5px 10px;
    /* margin: 5px; */
    text-decoration: none;
    /* color: white; */
    /* background-color:rgb(71, 149, 212); */
    border-radius: 5px;
    }
    .pagination-container .current-page {
    font-weight: bold;
    color:white;
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
  }

    .pagination-container a:hover {
    background-color: rgb(9, 146, 209);
    color: white;
    }

   </style>
 </head>
 
 <body>
  
   <div class="adminhero_area " >
     <!-- header section strats -->
     <header class="header_section" >
       <nav class="navbar navbar-expand-lg custom_nav-container ">
        <p  class="header_giftos" >
          <a class="navbar-brand" href="/">
            <span>
              Giftos
            </span>
          </a>
        </p>
         <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class=""></span>
         </button> -->
 
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav  ">
             <li class="nav-item active">
               <a class="nav-link" href="adminHome">Home <span class="sr-only">(current)</span></a>
             </li>
             <!-- <li class="nav-item">
               <a class="nav-link" href="/shop">
                 Shop
               </a>
             </li> -->
             <!-- <li class="nav-item">
               <a class="nav-link" href="/whyUs">
                 Why Us
               </a>
             </li> -->
             <!-- <li class="nav-item">
               <a class="nav-link" href="/testimonial">
                 Testimonial
               </a>
             </li> -->
             <!-- <li class="nav-item">
               <a class="nav-link" href="/contact">Contact Us</a>
             </li> -->
           </ul>
           <div class="user_option">
            <% if (sessionName) { %>
              <ul class="navbar-navuser">
              <li class="navuser-item user-dropdown">
                <i class="fa fa-user" id="user-name" style="font-size: larger;"></i>
                <ul class="dropdown-menu" id="dropdown-menu">
                 <li><a href="/admin-profile">Profile</a></li>
                 <li>
                  <a href="/admin/adminlogout">Logout</a>
                 </li>                  
                </ul>
              </li>
            </ul>
            <% } else { %>
              
              <ul class="navbar-navuser">
                <li class="navuser-item user-dropdown">
                  <i class="fa fa-user" id="user-icon"></i>
                  <!-- <ul class="dropdown-menu" id="dropdown-menu">
                    <li><a href="/user-profile">User Profile</a></li>
                    <li><a href="/address-book">Address Book</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul> -->
                </li>
              </ul>

              <a href="/login">
                <span>
                  Login
                </span>
              </a>

            <% } %>

             <!-- <a href="">
               <i class="fa fa-shopping-bag" aria-hidden="true"></i>
             </a>
             <a href="">
               <i class="fa fa-heart" aria-hidden="false"></i>
             </a> -->
             <!-- <form class="form-inline ">
               <button class="btn nav_search-btn" type="submit">
                 <i class="fa fa-search" aria-hidden="true"></i>
               </button>
             </form> -->
           </div>
         </div>
       </nav>
     </header>
   </div>
     <!-- end header section -->
   <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
   
      <div class="sidebar pe-4 pb-3  bg-light">
            <nav class="navbar  navbar-light">
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative  d-flex align-items-center">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Thanveer</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="adminhome" class="nav-item nav-link active"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    
                    <a href="/admin/productList" class="nav-item nav-link"><i
                            class="fa fa-th me-2"></i>PRODUCT LIST</a>
                            <a href="/admin/userlist" class="nav-item nav-link"><i class="fa fa-th me-2"></i>USER
                              LIST</a>
                    <a href="/admin/orderlist" class="nav-item nav-link"><i class="fa fa-table me-2"></i>ORDER LIST</a>
                    <a href="/admin/category" class="nav-item nav-link"><i
                      class="fa fa-table me-2"></i>CATEGORY</a>
                            <a href="/admin/coupenadmin" class="nav-item nav-link"><i class="fa fa-table me-2"></i>COUPEN</a>
                            <a href="/admin/salesreport" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>SALES REPORT</a>
                    <a href="/banner" class="nav-item nav-link"><i
                            class="fa fa-table me-2"></i>BANNER</a>
                </div>
            </nav>
      </div>
    
       <!-- Content Start -->
       <div class="content">
        <section>
            <table class="table ">
              <a href="/product/addProduct"><button type="button" class="btn btn-dark" >ADD PRODUCT</button></a>
              <div style="margin-top: 10px;" >

                  <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-1" type="search" placeholder="Search">
                </form>
                </div>
                <thead>
                    <tr>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Regular Price</th>
                        <th>Sale Price</th>
                        <th>Category</th>
                        <th>Stock</th>
                        <th>Offer</th>
                        <th>Options</th>
                    </tr>
                </thead>
    
                <tbody>
                    <% products.forEach(product => { %>
                        <tr>
                            <td>
                                <img style="width: 80px; height: 80px;" 
                                     src="/productsimg/<%= product.Productimage[0] %>" 
                                     alt="">
                            </td>
                            <td><%= product.Productname %></td>
                            <td><%= product.RegularPrice %></td>
                            <td><%= product.SalePrice || product.RegularPrice  %></td>
                            <td><%= product.Category ? product.Category.Category : 'Unknown' %></td>
                            <td><%= product.Stock %></td>
                            <td >
                              <a href="/product/editproduct/<%= product._id %>">
                                <button type="button" class="btn btn-primary">ADD OFFER</button>
                            </a>

                            <a href="#">
                                <button type="button" class="btn btn-danger" 
                                onclick="deleteProduct('<%= product._id %>','<%= product.productname %>?')">
                                   REMOVE 
                                </button>
                            </a>
                            </td>
                            <td>
                                <a href="/product/editproduct/<%= product._id %>">
                                    <button type="button" class="btn btn-primary">EDIT</button>
                                </a>
    
                                <a href="#">
                                    <button type="button" class="btn btn-danger" 
                                    onclick="deleteProduct('<%= product._id %>','<%= product.productname %>?')">
                                        DELETE
                                    </button>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
        <div class="pagination-container">
          <% if (currentPage > 1) { %>
          <a href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
          <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
             <% if (i ===currentPage) { %>
          <span class="current-page"><%= i %></span>
          <% } else { %>
          <a   href="?page=<%= i %>"><%= i %></a>
          <% } %> <% } %> <% if (currentPage < totalPages) { %>
          <a href="?page=<%= Number(currentPage) + 1 %> ">Next &raquo;</a>
          <% } %>
        </div>
    </div>

   

   </div>
     <!-- footer -->
     <footer class=" footer_section">
        <div class="container">
          <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="#">GIFTOS</a>
          </p>
        </div>
      </footer>

      <script src="js/jquery-3.4.1.min.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
      </script>
      <script src="js/custom.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


 </body>
</html>
<script>

  function deleteProduct(prodId,prodName){
     Swal.fire({
      title:'are you sure ',
      text:`you want to delete ${prodName}?`,
      icon:'warning',
      showCancelButton:true,
      confirmButtonColor:'#3085d6',
      confirmButtonText: 'Yes, delete it!',
      cancelButtonColor:'#d33',
      cancelButtonText: 'Cancel',
     }).then((result)=>{
      if(result.isConfirmed){
        window.location.href=`/admin/deleteproduct/${prodId}`;
      }
     })

     return false;
  }
</script>