<%- include('../partial/user/userProfilePartial.ejs') %>


        <div class="container mt-3" style="width: 70%;">
            
            <% if (orders && orders.length > 0) { %>
            <h2 class="text-center mb-4">Your Orders</h2>
            <% } %>


            <% if (typeof message !== 'undefined' && message) { %>
                <div id="cart-message" class="alert alert-success w-100 text-center">
                    <%= message %>
                </div>
            <% } %>

        
            <% if (orders && orders.length > 0) { %>
                <% orders.forEach(order => { %>

            <!-- Order 1 -->
            <div class="card order-card mb-4" style=" box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);">
                <div class="card-body">                 
                  <div class="row" >
                    <div class="col-md-12 text-end">
                          
                      <button class="btn btn-primary mb-2" onclick="location.href='/orderDetail/<%= order._id %>'">View Order</button>
                      <% if (order.orderStatus  !== "Cancelled" && order.orderStatus !== "Delivered" && order.orderStatus !== "Returned" && order.orderStatus !== "Return Request" && order.orderStatus !== "Refunded") { %>
                          
                          <button type="button" class="btn  custom-remove-btn" onclick="confirmRemove('<%= order._id %>')">
                              <i class="bi bi-trash-fill"></i> Cancel Order
                          </button>
                      
                      <% } %>
                      <% if (order.orderStatus === "Delivered") { %>
                          <button class="btn btn-danger mb-2" onclick="confirmReturnRequest('<%= order._id %>')">Return Order</button>
                      <% } %>
                      
                     </div>
                
                    <% order.products.forEach((product,index) => { %>
                       <div class="col-md-4" style='padding-left: 50px;' >
                            <!-- Order Image -->
                            <img style="height: 100px; border-radius: 10px;border: 1px solid #ddd;;" src="productsimg/<%= product.productId.Productimage[0] %>" class="img-fluid" alt="Product Image" >      
                        </div>
                    
                        <div class="col-md-8">
                            <!-- <h4 class="text-center">Products Deatils</h4> -->
                            
                                <h6 class="fw-bold"> <span><%= index+1 %> - </span><%= product.name %></h6> <!-- Fix to correctly access productName -->
                                <p style="padding: 0;">Quantity: <strong><%= product.quantity %></strong></p>
                                <h6> Price: <%= product.price %></h6> 
                                <h6> Total Price: <%= product.total %></h6> 
                        </div>
                        <% }) %>
                          <!-- <h4 class="text-center">Order Details</h4>
                            <p>Order Reference ID: <strong><%= order.orderId %></strong></p>
                            <p>Order Date: <strong><%= new Date(order.date).toLocaleDateString() %></strong></p>
                            <p>Payment Method: <strong><%= order.paymentDetails.paymentMethod %></strong></p> 
                           <% if(order.paymentDetails.status=='Pending'){ %>
                                <p>Payment Status: <span class="badge badge-warning"><%= order.paymentDetails.status %></span></p>
                           <% }else if(order.paymentDetails.status=='Cancelled'){ %>
                                <p>Payment Status: <span class="badge badge-danger"><%= order.paymentDetails.status %></span></p>
                           <% }else{ %>
                                <p>Payment Status: <span class="badge badge-success"><%= order.paymentDetails.status %></span></p>
                            <% } %>


                            <% if(order.orderStatus=='Cancelled'){ %>
                                <p>Order Status: <span class="badge badge-danger"><%= order.orderStatus %></span></p>
                            <% }else if(order.orderStatus=='Delivered'){ %>
                                 <p>Order Status: <span class="badge badge-success"><%= order.orderStatus %></span></p>
                            <% } else{ %>
                            <p>Order Status: <span class="badge badge-pill badge-info"><%= order.orderStatus %></span></p>
                            <% } %>

                            <% if(order.paymentDetails.refundStatus && order.paymentDetails.paymentMethod === 'Online Payment' && order.orderStatus === 'Cancelled' && order.paymentDetails.status === 'Paid'){ %>
                                <p>Refund Status: <span class="badge badge-success"><%= order.paymentDetails.refundStatus %></span></p>
                                <p>Refund Amount: <strong><%= order.paymentDetails.refundAmount %></strong></p>                              
                           <% }%>

                            <p>Total Price: <strong>₹<%= order.grandTotal %></strong></p>
                            <% if (order.couponCode) { %>
                                <p>Coupon: <strong><%= order.couponCode %></strong></p>
                                <p>Coupon Discount: <strong>₹<%= order.couponDiscount %></strong></p>
                            <% } %>

                            <p>Shipping Address: <strong><%= order.shippingAddress.name %>, <%= order.shippingAddress.houseName %>, <%= order.shippingAddress.street %>, <%= order.shippingAddress.city %>, <%= order.shippingAddress.state %>, <%= order.shippingAddress.pincode %></strong></p> -->
                        
                    </div>
                  </div>  

                </div>

            <% }); %> 
            <% } else { %>
                <div class="alert alert-info">No Order found. <a href="/shop" class="btn btn-primary btn-sm">Shop Now</a></div>
            <% } %> 
                             <!-- pagination -->
                             <div class="pagination-container   text-center">
                              <% if(currentPage>1){ %>  
                              <a  href="?page=<%= currentPage-1 %>">&laquo;Previous</a>
                              <% } %>
                              <% for(let i=1;i<=totalPages;i++){ %>
                                <% if(i==currentPage){ %>
                                  <span style="background-color: rgb(51, 121, 212);" class="current-page"><%= i %></span>
                                  <% }else{ %>
                                  <a href="?page=<%= i %>" ><%= i %></a>
                                  <% } %>
                              <% } %>
                              <% if( currentPage < totalPages){ %>
                                <a href="?page=<%= currentPage+1 %>"   >Next &raquo;</a>
        
                              <% } %>                  
                            </div>
        </div>
        <!-- Pagination -->
    </div>
   </div>
  </section> 


  
        <section class="info_section layout_padding2-top">
            <div class="social_container">
              <div class="social_box">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="info_container">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-lg-3">
                    <h6>ABOUT US</h6>
                    <p>
                      "We specialize in curating thoughtful gifts for every occasion,
                      whether it's birthdays, anniversaries, or just because.
                    </p>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="info_form">
                      <h5>Newsletter</h5>
                      <form action="#">
                        <input type="email" placeholder="Enter your email" />
                        <button>Subscribe</button>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <h6>NEED HELP</h6>
                    <p>Track Order</p>
                    <p>Return</p>
                    <p>Shipping</p>
                    <p>FAQs</p>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <h6>CONTACT US</h6>
                    <div class="info_link-box">
                      <a href="">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span> Tirur Road, Malappuam,Kerala </span>
                      </a>
                      <a href="">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>++91 8590847332</span>
                      </a>
                      <a href="">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span> vvjy@gmail.com</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <footer class="footer_section">
              <div class="container">
                <p>
                  &copy; <span id="displayYear"></span> All Rights Reserved By
                  <a href="#">GIFTOS</a>
                </p>
              </div>
            </footer>
          </section>


        <!-- end info section -->
        <script>
        document.getElementById('logout-form').addEventListener('submit',(event)=>{
        if(!confirm('Are you sure, You  really want to  log out? ')){
            event.preventDefault()
        }
        })
        document.getElementById('list-tab').style.display = 'none'
        </script>
        <script src="js/user/orderMngt.js"></script>
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
        </script>
        <!-- <script src="/js/custom.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


   </body>

</html>