<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">


  <title>
    Giftos
  </title>
  <style>
  body{
        padding-top: 170px;
        
    }
  .info_section {
    
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #f1f1f1; /* Optional: for styling */
      text-align: center; /* Optional: for centering text */
      padding: 10px 0; /* Optional: for padding */
  }
  
  </style>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <p  class="header_giftos" >
          <a class="navbar-brand" href="/">
            <span>
              Giftos
            </span>
          </a>
        </p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse innerpage_navbar" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item ">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop">
                Shop
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/whyUs">
                Why Us
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/testimonial">
                Testimonial
              </a>
            </li> -->
            <li class="nav-item active">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
          <div class="user_option">
            <% if (sessionName) { %>
              <ul class="navbar-navuser">
                <li class="navuser-item user-dropdown">
                  <i class="fa fa-user" id="user-icon"></i>
                  <ul class="dropdown-menu" id="dropdown-menu">
                    <li><a href="/user-profile">User Profile</a></li>
                    <li><a href="/address-book">Address Book</a></li>
                    <li><a href="/order-details">Order Details</a></li>
                    <li><a href="/setting">Setting</a></li>
                    <form id="logout-form" method="post" action="/logout" style="display: inline;">
                      <button type="submit" class="logout-btn">Logout</button>
                    </form>
                  </ul>
                </li>
              </ul>
            <% } else { %>
               
              <ul class="navbar-navuser">
                <li class="navuser-item user-dropdown">
                  <i class="fa fa-user" id="user-icon"></i>
                  <!-- <ul class="dropdown-menu" id="dropdown-menu">
                    <li><a href="/user-profile">User Profile</a></li>
                    <li><a href="/address-book">Address Book</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul> -->
                </li>
              </ul>

              <a href="/login">
                <span>
                  LogIn
                </span>
              </a>
            <% } %>
            <a href="/adduserCart">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </a>
            <a href="/wishlist">
              <i class="fa fa-heart" aria-hidden="false"></i>
            </a>
            <!-- <form class="form-inline ">
              <button class="btn nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form> -->
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->

  </div>
  <!-- end hero area -->

  <!-- contact section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <% if (wishProduct.length==0) { %>
        <h2 style="text-transform: none; color: rgb(209, 53, 53);"> 
          Oops!
          <h6>Your Wish List Is Empty.</h6>
        </h2>
        <div class="mt-5">
          <button class=" btn btn-danger " onclick="goaback()">go back</button>
        </div>
        <% } else { %>
        <h2>
          Your Wish List
        </h2>
        <% } %>
      </div>
      <div class="row">
        <% wishProduct.forEach(wish=>{ %>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="box">
              <a href="/productdetails/<%= wish.item %>">
                <div class="img-box">
                  <!-- <img src="images/p1.png" alt=""> -->
                    <img src="productsimg/<%= wish.Product.Productimage[0] %>" alt="<%= wish.Product.Productname %>">
  
                </div>
                <div class="detail-box">
                  <h6>
                    <%= wish.Product.Productname %>
                  </h6>
                  <h6>               
                    <% if( wish.Product.Stock >= 1){ %>
                      <% if(wish.Product.SalePrice && wish.Product.SalePrice > 1){ %>
                         <span style="text-decoration: line-through;">
                           <i class="fa-solid fa-indian-rupee-sign"></i>
                           <%= wish.Product.RegularPrice %>
                         </span>
                           <span style="padding-left: 5px;"> <i class="fa-solid fa-indian-rupee-sign"></i> <%= wish.Product.SalePrice %></span>
                       <% }else{ %>
                         <span>
                           <i class="fa-solid fa-indian-rupee-sign"></i>
                           <%= wish.Product.RegularPrice %>
                         </span>
                       <% } %>
                      <% } %>
                  </h6>
                </div>
                <div class="new" onclick=" confirmDelete('<%= wish.item %>')">
                  <a href="#">
                    <i class="fa fa-heart text-muted" ></i>
                  </a>
                </div>
              </a>
            </div>
          </div>
       <% }) %>
       
       </div>
     </div>
    </section>
  <!-- end contact section -->

  <!-- info section -->

  <section class="info_section  layout_padding2-top">
    <div class="social_container">
      <div class="social_box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
       
      </div>
    </div>
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h6>
              ABOUT US
            </h6>
            <p>
              "We specialize in curating thoughtful gifts for every occasion, whether it's birthdays, anniversaries, or just because.
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_form ">
              <h5>
                Newsletter
              </h5>
              <form action="#">
                <input type="email" placeholder="Enter your email">
                <button>
                  Subscribe
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              NEED HELP
            </h6>
            <p>
              Track Order
            </p>
            <p></p>
              Return
            </p>
            <p></p>
            Shipping
            </p>
            <p></p>
              FAQs
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              CONTACT US
            </h6>
            <div class="info_link-box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span> Tirur Road, Malappuam,Kerala </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>++91 8590847332</span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> vvjy@gmail.com</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section -->
    <footer class=" footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="#">GIFTOS</a>
        </p>
      </div>
    </footer>
    <!-- footer section -->

  </section>

  <!-- end info section -->
 

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="js/custom.js"></script>
  <script>
    document.getElementById('logout-form').addEventListener('submit',(event)=>{
      if(!confirm('Are you sure, You  really want to  log out? ')){
        event.preventDefault()
      }
    })

    function confirmDelete(id){
      Swal.fire({
        title:'Are you sure',
        text:" you really want to remove this item ",
        icon:'warning',
        showCancelButton:true,
        confirmButtonColor:'#3085d6',
        cancelButtonColor:'#d33',
        confirmButtonText:'Yes, delete it!'
      }).then((result)=>{
        if(result.isConfirmed){
         window.location.href= `/wishdelete/${id}`
        }
      })
      return false
    }

    function goaback(){
          window.history.back();
         }
 </script>

</body>

</html>