<%- include("../../views/partials/admin/header") %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<h2 class="mt-4">Add New Product</h2>
<form id="addProductForm" class="needs-validation" novalidate action="/admin/addProduct" method="POST" enctype="multipart/form-data">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" id="productName" name="productName" placeholder="Enter product name" required>
            <div class="invalid-feedback">
                Please provide a valid product name.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="productCategory">Category</label>
            <select class="custom-select" id="productCategory" name="category" required>
                <option selected disabled value="">Choose...</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                <% }); %>
            </select>
            <div class="invalid-feedback">
                Please select a valid category.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="productBrand">Brand</label>
            <select class="custom-select" id="productBrand" name="brand" required>
                <option selected disabled value="">Choose...</option>
                <% brands.forEach(brand => { %>
                    <option value="<%= brand._id %>"><%= brand.brandName %></option>
                <% }); %>
            </select>
            <div class="invalid-feedback">
                Please provide a valid brand.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="regularPrice">Regular Price</label>
            <input type="number" class="form-control" id="regularPrice" name="regularPrice" placeholder="Enter regular price" required>
            <div class="invalid-feedback">
                Please provide a valid regular price.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="salePrice">Sale Price</label>
            <input type="number" class="form-control" id="salePrice" name="salePrice" placeholder="Enter sale price" required>
            <div class="invalid-feedback">
                Please provide a valid sale price.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="productQuantity">Quantity</label>
            <input type="number" class="form-control" id="productQuantity" name="quantity" placeholder="Enter quantity" required>
            <div class="invalid-feedback">
                Please select a valid quantity.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="productWeight">Weight</label>
            <select class="custom-select" id="productWeight" name="weight">
                <option selected disabled value="">Choose weight...</option>
                <option>500g</option>
                <option>1000g (1kg)</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid weight.
            </div>
        </div>
        
    </div>

    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label for="productDescription">Description</label>
            <textarea class="form-control" id="productDescription" name="description" rows="3" required></textarea>
            <div class="invalid-feedback">
                Please provide a description.
            </div>
        </div>
    </div>



    <div class="form-row">
        <div class="col-md-4">
            <label for="productImage1">Product Image 1</label>
            <input type="file" id="productImage1" name="productImage1" accept="image/*" >
            <div id="imagePreview1" class="image-preview"></div>
            <button type="button" id="cropBtn1" class="btn btn-primary">Crop Image 1</button>
            <input type="hidden" id="croppedImage1" name="croppedImage1">
        </div>
        <div class="col-md-4">
            <label for="productImage2">Product Image 2</label>
            <input type="file" id="productImage2" name="productImage2" accept="image/*" >
            <div id="imagePreview2" class="image-preview"></div>
            <button type="button" id="cropBtn2" class="btn btn-primary">Crop Image 2</button>
            <input type="hidden" id="croppedImage2" name="croppedImage2">
        </div>
        <div class="col-md-4">
            <label for="productImage3">Product Image 3</label>
            <input type="file" id="productImage3" name="productImage3" accept="image/*" >
            <div id="imagePreview3" class="image-preview"></div>
            <button type="button" id="cropBtn3" class="btn btn-primary">Crop Image 3</button>
            <input type="hidden" id="croppedImage3" name="croppedImage3">
        </div>
    </div>

    <button id="submitProductBtn" class="btn btn-primary" type="submit">Add Product</button>
    <button class="btn btn-secondary" type="button" onclick="window.location.href='dashboard.html';">Cancel</button>
</form>


<script src="/js/adminJs/addProduct.js"></script>
<%- include("../../views/partials/admin/footer") %>

